body{
  background: transparent;

  table{
    &.table{
      width: 99% !important;
    }

    th{
      text-align: center;
    }
    td{

      > .data{
        width: 100px;
        text-align: center;
      }
    }
  }
}
