body{
  background: transparent;
  section#tables{
    width: 100%;
    height: 425px;

    .table-responsive.doctor{
      float: right;
      overflow: hidden;
    }

    .table-responsive{
      height: 100% !important;
      width: 49%;
      float: left;

      table{
        height: 100%;
        overflow: auto;

        &.table{
          width: 100%;
        }

        th{
          text-align: center;
        }
        td{

          > .data{
            width: 100px;
            text-align: center;
          }
        }
      }
    }
  }
}
