  <div class="jumbotron">
    <h1>Healthcare Clinics</h1>
    <p>UK HealthCare includes all UK hospitals and clinics and has over 80 specialized clinics,
      140+ outreach programs, and a team of 9,000
      physicians, nurses, pharmacists and health care workers – all dedicated to patient health.</p>
  </div>
  <div class="table-responsive" data-ng-controller="PatientsCtrl">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Problem</th>
        <th>Date to visit doctor</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="patient in users.patients">
        <td>{{patient.id}}</td>
        <td>{{patient.name}}</td>
        <td>{{patient.surname}}</td>
        <td>{{patient.complaint}}</td>
        <td class="date">{{patient.visit_doctor}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
