<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" ng-controller="modalCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit {{typeUser}} Detail</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input class="form-control" type="text" id="firstName" placeholder="Name:" value="{{firstName}}">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" id="lastName" placeholder="Second name: " value="{{lastName}}">
        </div>
        <div class="form-group" data-ng-if="typeUser === 'patient'">
          <input class="form-control" type="text" id="dateVisit" placeholder="Date to visit doctor: " value="{{dateVisit}}">
        </div>
        <div class="form-group" data-ng-if="typeUser === 'doctor'">
          <input class="form-control" type="text" id="occupation" placeholder="Occupation: " value="{{occupation}}">
        </div>
        <div class="form-group" data-ng-if="typeUser === 'doctor'">
          <input class="form-control" type="text" id="patientCare" placeholder="Has patients?: " value="{{patientCare |cutBracket}}">
        </div>
        <div class="form-group" data-ng-if="typeUser === 'patient'">
          <textarea rows="2" class="form-control" id="problem" placeholder="Complaint: ">{{problem}}</textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-ng-click="updateData()" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

