<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" data-backdrop="static" data-keyboard="false" aria-hidden="true" ng-controller="modalCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-ng-click="disableChanges()"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit {{userType}} Detail</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input class="form-control" type="text" id="firstName" placeholder="Name:" data-ng-model="user.name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" id="lastName" placeholder="Second name: " data-ng-model="user.surname">
        </div>
        <div class="form-group" data-ng-if="userType === 'patient'">
          <input class="form-control" type="text" id="dateVisit" placeholder="Date to visit doctor: " data-ng-model="user.visit_doctor">
        </div>
        <div class="form-group" data-ng-if="userType === 'doctor'">
          <input class="form-control" type="text" id="occupation" placeholder="Occupation: " data-ng-model="user.type">
        </div>
        <div class="form-group" data-ng-if="userType === 'doctor'">
          <input class="form-control" type="text" id="patientCare" placeholder="Has patients?: " data-ng-model="user.patient_id">
        </div>
        <div class="form-group" data-ng-if="userType === 'patient'">
          <textarea rows="2" class="form-control" id="problem" placeholder="Complaint: " data-ng-model="user.complaint"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-warning btn-lg index" style="width: 100%;" data-index="{{index}}"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

